*/__pycache__/
*.pyc
*.pkl
*.pth
*.zip
*.DS_Store
*.mp4
videos/
shared/
data/
huawei/
data_split/
runs/
venv/
outputs/
script_results/
wandb/
Readme/diffusion_policy_architecture.md
Readme/pi0_ur5e_pi0_tactile_architecture.md
wandb/
.idea/
.vscode/